@{
	ViewBag.Title = "本システムについて";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>このサイトは情報処理学会研究発表会のための発表資料アーカイブシステムです．</p>
<h4>アカウント</h4>
<p>
	本システムのアカウントには，資料を投稿することができるものと，資料を閲覧することができるものの2種類が存在します．<br />
	情報処理学会の講演申込システムで申し込んだ際に発行された整理番号とパスワードを利用してログインすることができるものは前者であり，自分の発表に対する資料をアップロードすることができます．<br/>
	年間登録の際のアカウント（研究発表会当日用サイト用，ユーザー名: iot2015）を利用してログインすることができるものは後者であり，システムに登録された資料を閲覧することができます．<br/>
	※整理番号とパスワードが発行されていない発表者（他研究会での登録等）は連絡先までその旨をお知らせください．
</p>
<h4>アップロードできる資料</h4>
<p>本システムにアップロードできる資料は，PowerPoint系ファイル，PDF，ZIPのみとなります</p>