@{
    ViewBag.Title = "連絡先";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>TeamYadocari:</strong>   <a href="mailto:yadocari-staff@mail.iot.ipsj.or.jp">yadocari-staff@mail.iot.ipsj.or.jp</a><br />
</address>