@model dynamic

@{
	ViewBag.Title = "Add File";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.success)
{
	<h3>アップロードが完了しました</h3>
}
else
{
	<h3>アップロードが失敗しました</h3>
	<h4>
		対応していない形式のファイルをアップロードした可能性があります。<br />
		対応しているファイル形式はPDF、ZIPまたはPowerPointプレゼンテーション・スライドショー形式です。<br />
		Keynoteなどを利用している場合は対応している形式に変換してアップロードし直してください。
	</h4>
	<h4>
		ファイル名に含むことのできない文字（" # % * : < > ? / \ | など）が含まれている可能性があります。<br />
		ファイル名を変更してアップロードし直してください。<br />
	</h4>
}
